! xrdb ~/.Xresources

! --------------------------------------

URxvt.font:                xft:CascadiaMonoNF:pixelsize=16:book
URxvt.boldFont:            xft:CascadiaMonoNF:pixelsize=16:bold
URxvt.italicFont:          xft:CascadiaMonoNFItalic:pixelsize=16:italic
URxvt.boldItalicFont:      xft:CascadiaMonoNFItalic:pixelsize=16:bold:italic

URxvt.letterSpace:         0
URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.cursorBlink: 		     true
URxvt.scrollBar:           false

URxvt.fading:              0

! --------------------------------------

URxvt.foreground: #9E9E9E
URxvt.background: #000000

URxvt.color0:  #2E3436
URxvt.color1:  #A40000
URxvt.color2:  #4E9A06
URxvt.color3:  #C4A000
URxvt.color4:  #008A17
URxvt.color5:  #75507B
URxvt.color6:  #CE5C00
URxvt.color7:  #BABDB9
URxvt.color8:  #555753
URxvt.color9:  #EF2929
URxvt.color10: #8AE234
URxvt.color11: #AF9155
URxvt.color12: #729FCF
URxvt.color13: #AD7FA8
URxvt.color14: #FCAF3E
URxvt.color15: #EEEEEC